# CORE FRAMEWORK (Versiones blindadas contra ReDoS y Smuggling)
fastapi[standard]==0.115.0
uvicorn[standard]==0.31.0
starlette==0.49.1

# SEGURIDAD Y CRIPTOGRAFÍA (EdDSA + JWE)
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12

# INFRAESTRUCTURA Y VALIDACIÓN
redis==5.0.8
slowapi==0.1.9
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0

# CLIENTE HTTP (Para integración y tests)
httpx==0.27.2
